body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.field {
  width: 300px;
  height: 300px;
  border: 1px solid #000;

  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 20px;
  height: 20px;
  outline: 1px solid black
}

.invader {
  background-color: red;
}