body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
  flex-direction: column;
}

.result {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  height: 20px;
}

.field {
  width: 600px;
  height: 600px;
  border: 1px solid #000;

  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 40px;
  height: 40px;
  outline: 1px solid black;
}

.invader {
  background-color: green;
}

.shooter {
  background-color: purple;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}
